$clr-primary: #f9f9f9;
$clr-yellow: #f5b536;
$clr-black: #2b2b2b;
$clr-purple: #262633;
$clr-lightW: #f5f4f5;
$clr-green: #0e971b;
$clr-gray: rgba(36, 35, 35, 0.397);

$ff-primary: 'Playfair Display', serif;
$ff-secondary: 'DM Sans', sans-serif;

$break-lg: 1250px;
$break-md: 870px;
$break-sm: 480px;